
<div id="page">
<h1>Network Managment for acidchild.org</h1>
<p>Here will be full control of the control-network cmd. It will build from
a database and have a minion worker to procces UI changes</p>

Mac address: <input name=macaddre type=text> <input type=button value=add>
<br>
<br>
Mac address: <input name=macaddre type=text> <input type=button value="look
up">
</div>
